<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      General Info
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <form [formGroup]="aForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="profile-image-outer">
            <img class="profile-image-round" [src]="_DomSanitizer.bypassSecurityTrustUrl(piImageBase64)" (click)="getprofileimage()" />
            <ion-icon class="camera-icon" color="light" name="camera"></ion-icon>
          </div>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <!-- (click)="setDate()" -->
          <ion-item color="primary">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime slot="end" class="ion-text-right" displayFormat="MM-DD-YYYY" formControlName="date_of_birth"
              (ionChange)="validateDate()"></ion-datetime>
            <ion-icon slot="end" color="light" name="calendar"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="outer-intl">
            <div class="inner-intl">
              <div class="icn" (click)="openCounryCode()">
                <img src="{{ dial_code.image }}" />
                <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
              </div>
              <div class="ign">
                <div class="tel-code">{{ dial_code.dial_code }}</div>
                <input class="col" type="tel" formControlName="phone" readonly="true"
                  (input)="onTelephoneChange($event, $event.target.value)" placeholder="Phone Number" />
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="form_input" color="primary">
            <ion-input type="text" formControlName="name" placeholder="First Name"></ion-input>
            <ion-item *ngIf="
                !aForm.controls.name.valid && aForm.controls.name.dirty
              ">
              <ion-badge>Can Not Leave Null, Required [A-Z,a-z] ...</ion-badge>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="form_input" color="primary">
            <ion-input type="text" formControlName="middle_name" placeholder="Middle"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="form_input" color="primary">
            <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
          </ion-item>
          <ion-item *ngIf="
              !aForm.controls.last_name.valid &&
              aForm.controls.last_name.dirty
            ">
            <ion-badge>can not be null, required [A-Z,a-z] ...</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="form_input" color="primary">
            <!-- readonly="true" -->
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
          </ion-item>
          <ion-item *ngIf="
              !aForm.controls.email.valid && aForm.controls.email.dirty
            ">
            <ion-badge>*example@mail.com ...</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" expand="block" class="ion-text-uppercase" color="light" (click)="goToNext(1)">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>