<!--
  Generated template for the RequestAPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--  -->

<ion-slides pager="false" #slides>

  <ion-slide style="height: 100%;">
    <app-choice-options style="height: 100%; width: 100%;"></app-choice-options>
  </ion-slide>
  <ion-slide style="height: 100%;">
    <app-comment-options style="height: 100%; width: 100%;"></app-comment-options>
  </ion-slide>
  <ion-slide style="height: 100%;">
    <app-request-success style="height: 100%; width: 100%;" [heading1]="'Pass request has been sent. You will be notified once a pass has been issued'" [Start]="'Finish'"></app-request-success>
  </ion-slide>
  
</ion-slides>