<!--
  Generated template for the ArchivedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closePassTabs()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }} Passes </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-grid class="nopad">
      <ion-row>
        <ion-col size="6" class="nopad">
          <ion-searchbar [(ngModel)]="searchTerm" (search)="setFilteredItems(true)" (ionClear)="doRefresh(null)">
          </ion-searchbar>
        </ion-col>
        <ion-col size="6" class="nopad">
          <ion-select [(ngModel)]="filter" placeholder="Sort">
            <ion-select-option value="ename">Event Name</ion-select-option>
            <ion-select-option *ngIf="c_selection != 'scanned'" value="sname">Sender's Last Name</ion-select-option>
            <ion-select-option value="sdate">Date</ion-select-option>
            <ion-select-option *ngIf="c_selection == 'archieve'" value="scommunity">Community</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment [(ngModel)]="c_selection" (ionChange)="segmentChanged(c_selection)">
      <ion-segment-button value="archieve">
        Received
      </ion-segment-button>
      <ion-segment-button value="sent">
        Sent
      </ion-segment-button>
      <ion-segment-button value="scanned">
        Scanned
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content color="primary">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="plist?.length > 0" class="passes_list">
    <app-pass-item *ngFor="let item of plist; let i = index" [item]="item" (removePass)="deletePass($event)"
      (editPass)="editDirections($event)" (openDirection)="getDirection($event)"
      (showHistory)="showGuestLogs($event, 'qrcode')" (showCheckbox)="showCheckbox($event)"
      (showGuestLogs)="showGuestLogs($event)" (openPass)="passDetails($event)"></app-pass-item>
    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>




  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'No Records Found'"></app-emptyview>
</ion-content>