<!--
  Generated template for the ActivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closePassTabs()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}} Passes</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-grid class="nopad">
      <ion-row>
        <ion-col size="6" class="nopad">
          <ion-searchbar [(ngModel)]="searchTerm" (search)="setFilteredItems(true)" (ionClear)="doRefresh(null)" ></ion-searchbar>
        </ion-col>
        <ion-col size="6" class="nopad">
          <!-- <ion-list class="sorting">
            <ion-item> -->
              <ion-select [(ngModel)]="filter" placeholder="Sort">
                <ion-select-option value="ename">Event Name</ion-select-option>
                <ion-select-option value="sname">Sender's Last Name</ion-select-option>
                <ion-select-option value="sdate">Date</ion-select-option>
                <ion-select-option value="scommunity">Community</ion-select-option>
              </ion-select>
            <!-- </ion-item>
          </ion-list> -->
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-toolbar>
  

</ion-header>

<ion-content color="primary">

  <!-- <div class="c-scroll-outer"
    *ngIf="filter == 'ename' || filter == 'sname' || filter == 'scommunity'">
    <div class="c-scroll-inner-1">
      <div class="c-scroll-inner-2" [class.active]="alp.enable" *ngFor="let alp of alphalist"
        (click)="filterByAlpha(alp, filter )">{{alp.alpha}} </div>
    </div>
  </div> -->

  <!-- <div class="c-scroll-outer" *ngIf="filter == 'sdate' ">
    <div class="c-scroll-inner-1" [style.width.px]="dcount">
      <div class="c-scroll-inner-2 dates" [style.width.px]="60" [class.active]="alp.enable" *ngFor="let alp of datelist"
        (click)="filterByDate(alp, filter )">{{alp.date}} </div>
    </div>
  </div> -->

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="plist?.length > 0" class="passes_list">

    <app-pass-item  *ngFor="let item of plist; let i = index" [item]="item" [seeingOthersPass]="seeingOthersPass" (openPass)="passDetails($event)" (openDirection)="getDirection($event)"></app-pass-item>
    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </div>
  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="'No Records Found'"></app-emptyview>

</ion-content>
