@import '../vcontacts-page.component.scss';
.searchbar-clear-icon:before {
    font-family: "Ionicons";
    content: "\f2bf";
    color: white;
    padding-top: 10px;
}

.searchbar-has-value.searchbar-has-focus .searchbar-clear-icon {
    margin-top: 7px;
}