<!--
  Generated template for the SentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closePassTabs()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }} Passes </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-grid class="nopad">
      <ion-row>
        <ion-col size="6" class="nopad">
          <ion-searchbar [(ngModel)]="searchTerm" (search)="setFilteredItems(true)" (ionClear)="doRefresh(null)">
          </ion-searchbar>
        </ion-col>
        <ion-col size="6" class="nopad">
          <ion-select [(ngModel)]="filter" placeholder="Sort">
            <ion-select-option value="ename">Event Name</ion-select-option>
            <ion-select-option value="sdate">Date</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content color="primary">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="plist?.length > 0" class="passes_list"> 

    <app-pass-item *ngFor="let item of plist; let i = index" [item]="item" (removePass)="deletePass($event)"
      (editPass)="editPass($event)" (showCheckbox)="showCheckbox($event)" (showGuestLogs)="showGuestLogs($event)">
    </app-pass-item>
    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'No Records Found'"></app-emptyview>

</ion-content>