<!--
  Generated template for the MypassesdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons lsot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{item?.event_name}}
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <!-- <ion-list class="openpass" class="ion-no-padding"> -->
    <!-- </div> -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <img *ngIf="item?.visitor_type == '1'" [src]="(item?.licence_image == null) ? 'assets/imgs/pass.png' : item?.licence_image" />
          <img *ngIf="item?.visitor_type == '2'" [src]="(item?.licence_image == null) ? 'assets/imgs/delivery.jpg' : item?.licence_image" />
        </ion-col>
      </ion-row>
      <!-- <ion-row color="primary">
        <ion-col size="12" class="ion-padding">
        </ion-col>
      </ion-row> -->
      <ion-row class="highlight" style="margin-top: 0;">
        <ion-col size="12" class="ion-padding">
          <h2 class="ion-text-uppercase">{{item?.event_name}}</h2>
        </ion-col>
        <ion-col size="6">
          
            <ion-item lines="none" color="highlight">
              <ion-label>
                <h2 class="ion-text-uppercase">Starts</h2>
                <p class="ion-text-uppercase">{{item?.to_date  }} </p>
                <p class="ion-text-uppercase">{{item?.to_date_time  }} </p>
              </ion-label>
              <ion-icon slot="end" name="alarm-outline"></ion-icon>
            </ion-item>
          
        </ion-col>
        <ion-col size="6">
            <ion-item lines="none" color="highlight">
              <ion-label>
                <h2 class="ion-text-uppercase">Expires</h2>
                <p  class="ion-text-uppercase">{{item?.for_date  }} </p>
                <p  class="ion-text-uppercase">{{item?.for_date_time  }} </p>
              </ion-label>
              <ion-icon slot="end" name="alarm-outline"></ion-icon>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="moredetails">
      <ion-row >
        <ion-col size="12" class="ion-text-wrap">
          <h4 class="ion-text-uppercase">Sender Info</h4>
        </ion-col>
        
        <ion-col size="12" class="ion-text-wrap">
          <ion-item class="ion-no-padding" (click)="item?.contact_id != 0 ? addToContact(item) : null">
            <ion-label class="ion-text-uppercase">
              <h2>Sender Name</h2> <p><strong>{{item?.sender}}</strong></p>
            </ion-label>
            <!-- <ion-button *ngIf="item?.contact_id != 0" slot="end" expand="block" shape="round" size="small" color="secondary" (click)="addToContact(item)"></ion-button> -->
            <ion-icon *ngIf="item?.contact_id != 0" name="person-add-outline"></ion-icon>
          </ion-item>
          
          
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item class="ion-no-padding" (click)="callMe(item?.phone)">
            <ion-label class="ion-text-uppercase">
              <h2>Sender Phone # </h2> <p><strong *ngIf="item?.phone" [innerHtml]="utility.onkeyupFormatPhoneNumberRuntime(item?.phone)"></strong></p>
            </ion-label>
            <!-- <ion-button shape="round" size="small" slot="end" expand="block" color="secondary" (click)="callMe(item?.phone)">Call Me</ion-button> -->
            <ion-icon name="call-outline"></ion-icon>
          </ion-item>
          
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">

          <ion-item class="ion-no-padding" (click)="getDirection(item?.description)">
            <ion-label class="ion-text-uppercase">
              <h2>Community Name  </h2> 
              <p><strong [innerHtml]="item?.community"></strong></p>
              <p>{{item?.description}}</p>
            </ion-label>
            <!-- <ion-button shape="round" size="small" slot="end" expand="block" color="secondary" (click)="callMe(item?.phone)">Call Me</ion-button> -->
            <ion-icon name="map-outline"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col size="12" class="ion-text-wrap">
          <ion-label class="ion-text-uppercase" class="yellow-backg" shape="round">
            <strong *ngIf="item?.visitor_type != 2">Family / Friend</strong>
            <strong *ngIf="item?.visitor_type == 2">Vendor / Delivery</strong>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">


          <ion-item class="ion-no-padding" (click)="setPassVehicles()">
            <ion-label class="ion-text-uppercase">
              <h2>Vehicle #  </h2> 
              <p>{{vehicle?.licence_plate}}</p>
              <p>{{vehicle?.make}} {{vehicle?.model}} {{vehicle?.year}} {{vehicle?.color}}</p>
              <p></p>
            </ion-label>
            <!-- <ion-button shape="round" size="small" slot="end" expand="block" color="secondary" (click)="callMe(item?.phone)">Call Me</ion-button> -->
            <ion-icon name="create-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-right">
          <p>Please use the QR code below for scanning and verification</p>
            <ngx-qrcode size="200" [elementType]="'url'" [value]="item?.qrcode"></ngx-qrcode>
        </ion-col>
        <ion-col size="12">
          <ion-button shape="round" expand="block" color="dark" class="ion-text-uppercase" *ngIf="item != null" (click)="addareminder(item)">
            Add To Calendar
          </ion-button>  
        </ion-col>
        
      </ion-row>
    </ion-grid>
  <!-- </ion-list> -->
</ion-content>
