.yellow-background {
    background: yellow !important;
}

ion-header {

    .searchbar-ios {
        min-height: 45px;
    }

    .sorting {
        ion-item {
            background: none !important;
            border-bottom: 1px solid #355273 !important;
            padding: 0px;

            ion-label {
                padding-left: 0px;
            }
        }
    }
}

ion-content {

    // .dt1 {
    //     display: block;
    //     line-height: 1.5em;
    //     font-size: 16px;
    //     margin-top: 10px;
    // }

    // .clo1 {
    //     font-size: 5rem;
    //     margin-top: 23px;
    // }

    // .tm1 {
    //     font-size: 2.5rem;
    //     display: table;
    // }

    .highlight {
        *{
            color: white !important;
        }
        background: #6a87bc;
        color: #fff;
        padding: 10px 10px;
        margin: 8px -15px;
        width: calc(100% + 30px);

        label {
            padding: 12px 10px;
            display: flex;
            color: #fff;
            span {
                display: block;
            }
        }

    }

    .openpass {
        background: #fff;
        // padding: 8px !important;



        ion-grid.moredetails {
            ion-col {

                ion-label {
                    white-space: normal;
                    margin-bottom: 20px;

                    strong {
                        display: block;
                    }

                    button {
                        background: #c03636;
                        border-radius: 10px;
                        color: #fff;
                        padding: 4px 20px;
                        margin-top: 20px;
                    }
                }

                ion-thumbnail {
                    // width: 30%;
                    float: right;
                }

                ngx-qrcode img {
                    width: 200px;
                }

                h4 {
                    border-bottom: 1px solid #ccc;
                }
            }
        }

    }

}