  .btnBackRed {
      background: red !important;
  }

  .badge-no-bg{
      --background:unset !important
  }


  ion-content {
    //   @extend %background;

    .dashboard-item{
        border-bottom: 1px solid #c0c0c0;
    }
    ion-avatar{
        width: 50px;
        border: 1px solid yellow;
        border-radius: 50%;
        height: 50px;
    }
    

  }

  ion-footer {

      .dflex{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }
      ion-button {
          width: 100% !important;
          margin: 0 !important;
        //   float: left !important;
          
          align-items: center;
          height: auto !important;
          padding: 20px 0px !important;
          background: #204d89 !important;
          border: 1px solid #3e5d8b !important;
          box-shadow: 1px 1px 3px #0b2347;
          color: #fff;

          .button-inner {
              display: block;
          }

          ion-badge {
              position: absolute;
              z-index: 999;
              background: #e1372f !important;
              height: 20px;
              width: 20px;
              padding: 5px 0px 0px;
              font-size: 1.1rem;
          }

          ion-icon {
              display: block;
              font-size: 2.8em;
          }

          ion-label {
              display: block;
              font-size: 0.7em;
          }
      }
  }

  .ion-md-card {
      position: relative;
  }

  .lab-n {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background: #e23730;
      top: 22px;
      left: 16px;
      border-radius: 20px;
      font-size: 11px;
      padding-top: 4px;
  }

  .lab-n .ion-md-checkmark {
      font-size: 12px !important;
      color: #000;
  }


  .fab-btn-c .floating-label {
      position: absolute;
      left: -105px;
      bottom: 0;
      transform: translateY(-20%);
      background: lightgray;
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 4px 10px 10px 4px;
      width: 100px;
      text-align: center;
      font-size: 11px;
  }