<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header>

    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-menu-button menu="main"></ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="isEmailVerificationPending" (click)="presentDuplicateEmailVerification($event)">
          <ion-icon name="mail"></ion-icon>
          <ion-badge fill="clear" class="badge-no-bg">*</ion-badge>
        </ion-button>
        <ion-button (click)="openDoubleBell($event)" [class.btnBackRed]="getNotified">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge *ngIf="getNotified" colors="secondary"></ion-badge>
        </ion-button>
        <ion-button (click)="openLogUsers($event)">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="global-background" color="primary">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="plist?.length > 0" class="list-transparent ion-no-padding">
      <ion-item color="primary" lines="full" *ngFor="let item of plist; let i = index" class="ion-text-wrap dashboard-item ion-no-padding" (click)="passDetails(item)">
        <ion-avatar class="ion-margin">
          <img [src]="item?.profile_image">
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-uppercase">{{item?.event_name}}</h2>
          <p class="ion-text-uppercase">{{item?.community_name}}</p>
          <p class="ion-text-uppercase">Sender: {{item?.username}}</p>
        </ion-label>
        
      </ion-item>
    </ion-list>


    <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="'You Have No Upcoming Invites'"></app-emptyview>

    <!-- <div class="dflex noRecords" *ngIf='plist?.length != 0'>
      <ion-avatar class="start">
        <img src="assets/imgs/identity.png">
      </ion-avatar>
      <h2>You Have No Upcoming Invites</h2>
    </div> -->

    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </ion-content>

  <ion-footer *ngIf="user?.role_id == 9">
    <ion-button (click)="mypass()">
      <ion-icon name="card"></ion-icon>
      <div *ngIf="plist?.length > 0" class="lab-n">{{plist?.length}}</div>
      <label>My<br>Passes</label>
    </ion-button>
  </ion-footer>

  <ion-footer *ngIf="user?.role_id != 9">

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="3" class="ion-no-padding">
          <ion-button fill="clear" class="" (click)="mypass()">
            <div class="dflex">
              <ion-icon name="card"></ion-icon>
              <div *ngIf="plist?.length > 0" class="lab-n">{{plist?.length}}</div>
              <label>My<br>Passes</label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
          <ion-button fill="clear" class="" (click)="mycontactbutton()">
            <div class="dflex">
              
              <ion-icon name="people-circle-outline"></ion-icon>
              <label>My<br>Contacts</label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
          <ion-button fill="clear" class="" (click)="requestapass()">
            <div class="dflex">
              <ion-icon name="key"></ion-icon>
              <label>Request<br>A Pass </label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-no-padding" *ngIf="canBeResident">
          <ion-button fill="clear" class="" (click)="becomeAResident()" *ngIf="canBeResident"
            [disabled]="suspandAccount">
            <div class="dflex">
              <ion-icon name="home"></ion-icon>
              <label>Become a<br>Resident</label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-no-padding" *ngIf="!canBeResident">
          <ion-button fill="clear" class="" (click)="myNewPass()" *ngIf="!canBeResident"
            [disabled]="disableCreatePass || suspandAccount">
            <div class="dflex">
              <ion-icon name="add"></ion-icon>
              <label>Create<br>A Pass </label>
            </div>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-footer>