<ion-header>
  <!-- <img src="assets/imgs/backtop.jpg" /> -->
</ion-header>
<ion-content padding="true">

  <div class="logo">
     <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list>

      <form [formGroup]="aForm">


      <ion-item class="form_input">
          <ion-label position="stacked">
              Please enter your new password to update
            </ion-label>
          <ion-input type="password" formControlName="password" placeholder=""></ion-input>
          <ion-label>
              <ion-icon *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )" color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
          </ion-label>
      </ion-item>

      <ion-item class="form_input">
          <ion-label position="stacked">
              Confirm Password
              <!-- <ion-icon name="person"></ion-icon> -->
            </ion-label>
          <ion-input type="password" formControlName="password_confirm" placeholder=""></ion-input>
          <ion-label>
              <ion-icon *ngIf="!aForm.controls.password_confirm.valid  && ( aForm.controls.password.dirty || submitAttempt )" color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
          </ion-label>
      </ion-item>


      <!-- <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
          <ion-badge>invalid password...</ion-badge>
      </ion-item> -->

      <div padding="true">
        <div *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">Your password must be more than 9 characters long, should contain at-least 1 Uppercase, 1 Lowercase, 1 Numeric and 1 special character.</div>
        <ion-button round color="primary" block type="submit" (click)="save()">Update</ion-button>
      </div>

    </form>

  </ion-list>


</ion-content>
