<!--
  Generated template for the MyfamilymembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      My Household
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showsearch != showsearch">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [hidden]="showsearch == false"  color="dark">
    <ion-searchbar [showCancelButton]="false" (search)="getItems($event, true)" (ionInput)="getItems($event, false)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  
    <ion-grid *ngIf="plist?.length > 0">
      <ion-row *ngFor="let item of plist; let i = index" [ngClass]="{'darkbg' : item.dark}"
        (click)="presentEditFamilyPopover($event, item)">
        <ion-col size="6" class="pass_details ion-no-padding">
          <ion-item lines="none">
            <!-- <ion-avatar>
              <img [src]="item.profileImageUrl">
            </ion-avatar> -->
            <ion-label>
              <h2>{{item?.display_name}}</h2>
              <p>Relation: <span>{{item?.relationship}}</span></p>
              <p><span>{{item?.formattedPhone}}</span></p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="pass_menu ion-no-padding">
          <ion-item lines="none">
            <ion-label>
              <h2>Passes</h2>
              <p>Active ( {{item?.activeCount}} )</p>
              <p>Archive ( {{item?.archieveCount}} )</p>
              <p>Sent ( {{item?.sentCount}} )</p>
            </ion-label>
          </ion-item>
        </ion-col>
        
      </ion-row>
    </ion-grid>

  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
      [message]="'No Records Found'"></app-emptyview>


</ion-content>