<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start *ngIf="!new">
      <button ion-button class="top-back-fix" (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content color="primary"> -->

<ion-slides pager="false" #slides>

    <ion-slide style="height: 100%;">
      <app-firstscreen style="height: 100%; width: 100%;" [user]="user"></app-firstscreen>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-secondscreen style="height: 100%; width: 100%;" [user]="user"></app-secondscreen>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-thirdscreen style="height: 100%; width: 100%;" [user]="user"></app-thirdscreen>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-successscreen style="height: 100%; width: 100%;" [heading1]="heading1" [Start]="Start"></app-successscreen>
    </ion-slide>
    
</ion-slides>

<!-- </ion-content> -->