.prompt-field {
    padding-left: 7px;
    padding-right: 7px;

    ion-label {
        text-align: right;
        padding-left: 8px;
    }
}

ion-col {
    position: initial !important;
}

ion-header {
    

    .nopad {
        padding: 0px;

        ion-col {
            padding: 0px;
        }
    }
}

ion-content {
   
}



.text-input-ios {
    padding: 0 16px;
}

.outer-intl {
    background: #FFFFFF;
    /*   padding: 8px; */
    height: 38px;

}

.outer-intl .inner-intl .ign .tel-code {
    float: left;
    font-size: 0.9em;
    color: gray;
}

.outer-intl .inner-intl .ign input {
    width: calc(100% - 150px);
    float: left;
    font-size: 0.9em;
    border: none;
    height: 38px;
    line-height: 38px;
    color: gray;
}

.outer-intl .inner-intl .icn {
    width: 70px;
    padding: 8px;
    float: left;
    // background: lightgray
}

.outer-intl .inner-intl .tel-code {
    float: left;
    padding: 8px
}


.outer-intl .inner-intl .icn img {
    height: 16px;
    margin: 2px;
    float: left;
}

.outer-intl .inner-intl ion-icon {
    color: gray;
    padding-left: 5px;
    float: left;
}



.form_input {


    .m-select {
        padding-left: 8px;
        // width: 100%;
        text-align: left;
    }

}

form {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.avatar-general {
    text-align: center;
    // height: 18vh;
}

.avatar-general img {
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

ion-slides {
    background: var(--ion-color-primary);
    height: 100%;
    width: 100%;
}

ion-header {
    

    ion-navbar {
        border-bottom: 1px solid #2b4777;

        .wizard {
            ul {
                padding: 0px;
                margin: 0px;

                li {
                    float: left;
                    width: 33%;
                    height: 42px;
                    list-style: none;
                    position: relative;

                    button {
                        background: #1a4382;
                        padding: 0px;
                        width: 30px;
                        height: 30px;
                        border: 2px solid #0a1f42;
                    }

                    &:after {
                        content: '';
                        border-bottom: 2px solid #1a4381;
                        width: 100%;
                        height: 2px !important;
                        position: absolute;
                        top: 16px;
                        display: inline-block;

                    }
                }

                li.active {
                    button {
                        background: #fff;
                        color: var(--ion-color-primary);
                    }

                    &:after {
                        border-bottom: 2px solid #fff;
                    }
                }

                li:first-child {
                    text-align: left;
                }

                li:last-child {
                    text-align: right;
                }

                li:last-child:after {
                    display: none;
                }
            }
        }
    }
}

ion-content {
    
    height: 100%;

    h2 {
        color: #fff;
    }

    p {
        color: #fff;
        font-size: 1.8rem;
    }

    .text-left {
        text-align: left;
    }

    ion-item {
        padding: 0px !important;
        background: none !important;

        .item-inner {
            border-bottom: 1px solid #154184 !important;
            padding: 4px 0px !important;

            input {
                color: #fff !important;
            }

            input::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #738bb1;
            }

            input::-moz-placeholder {
                /* Firefox 19+ */
                color: #738bb1;
            }

            input:-ms-input-placeholder {
                /* IE 10+ */
                color: #738bb1;
            }

            input:-moz-placeholder {
                /* Firefox 18- */
                color: #738bb1;
            }

            // ion-label{
            //   position:absolute;
            //   right:20px;
            //   top: 05px;
            // }
        }
    }

    .avatar-general {
        margin: 20px;
        position: relative;

        ion-icon {
            background: #162a4b;
            border: 2px solid #31599b;
            color: #fff;
            display: table;
            margin: 0 auto;
            font-size: 58px;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            padding-top: 18px;
            margin-bottom: 10px;
        }

        label {
            color: #fff;
            font-size: 1.2rem;
        }

    }

    ion-avatar.contactinfo {
        font-size: 7rem;
        color: #fff;
        padding: 3rem;
    }

    ion-item {
        ion-label {
            color: #fff;
        }

        ion-select {
            color: #fff;
        }
    }
}

// button{
//   ion-icon{
//     float:right;
//     position: absolute;
//     right: 29px;
//     font-size: 40px;
//   }
// }
.swiper-pagination {
    display: none;
}

.swiper-slide {
    -webkit-box-align: inherit !important;
    -webkit-align-items: initial !important;
    -ms-flex-align: inherit !important;
    align-items: normal !important;
}

span.badge.badge-info {
    position: absolute;
    top: 0;
}

span.badge.badge-info ion-icon {
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-left: 25px;
}

.item-select ion-label {
    padding-left: 8px !important;
}

button.white {
    background: #fff;
    color: #333;
}

button.white ion-icon {
    position: relative;
    right: 5px;
    font-size: 19px;
    top: -2px;
    float: left;
}

.top-back-fix ion-icon {
    font-size: 22px !important;
}

.top-back-fix ion-icon {
    font-size: 22px !important;
}


@media screen and (min-width: 992px) and (max-width:1169px) {
    .wizard ul li:after {
        width: 451px !important;
    }
}

@media screen and (min-width: 766px) and (max-width:991px) {
    .wizard ul li:after {
        width: 315px !important;
    }

}

@media screen and (min-width: 667px) and (max-width: 767px) {
    .wizard ul li:after {
        width: 451px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 666px) {
    page-tutorial ion-content h2 strong {
        font-size: 24px !important;
    }
}

.yellow-border {
    border: 1px solid yellow !important;
    margin-bottom: 5px !important;
    border-radius: 4px;
}

.page-success {
    ion-content {
       

        ion-grid {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            ion-row {
                color: #fff;

                ion-thumbnail {
                    ion-icon {
                        font-size: 14rem;
                        color: #7ad419;
                    }
                }

                button {
                    // ion-icon{
                    //   float:right;
                    //   position: absolute;
                    //   right: 29px;
                    //   font-size: 40px;
                    // }
                }
            }
        }

        .top-back-fix ion-icon {
            font-size: 22px !important;
        }
    }
}

.page-welcome {
    ion-content {
       

        ion-grid {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            ion-row {
                color: #fff;

                ion-thumbnail {
                    img {
                        width: 50%;
                        margin: 0 auto;
                    }
                }

                button {
                    ion-icon {
                        float: right;
                        position: absolute;
                        right: 29px;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}