<!--
  Generated template for the VFavoriteListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="dark" *ngIf="search_on == false">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Favorites ({{this.storedcontacts.fav_contacts.length}})</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="setFocusOnSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="dark" *ngIf="search_on == true">
        <ion-searchbar #searchbar (ionClear)="search_on = false; resetSearch()" (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value" [showCancelButton]="false" (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let item of storedcontacts.fav_contacts" (click)="presentPopover($event, item)">
            <ion-label>
                <ion-avatar>
                    <img [src]="users.avatar">
                </ion-avatar>
                <h2>{{item.display_name}}
                    <ion-icon name="star" *ngIf="item.new"></ion-icon>
                </h2>
                <p [innerHtml]="item.phone_number"></p>
            </ion-label>
            <ion-button fill="clear" slot="end">
                <ion-icon name="options"></ion-icon>
            </ion-button>
            <!-- </span> -->
        </ion-item>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="(storedcontacts.favoffset != -1) ? loadMoreContacts($event) : $event.target.complete()">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
    <ion-fab-button color="dark" (click)="plusHeaderButton('FC')">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <label class="floating-label" side="left">Add Favorites</label>

</ion-fab>