<!--
  Generated template for the VManageVehiclesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehicles ({{this.plist.length}})</ion-title>

  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar #searchbar (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value"
      [showCancelButton]="true" (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list >

    <ion-item *ngFor="let item of plist" style="height: 62px;" [ngClass]="{'selected-item': selected_item_id == item.id }" (click)="setVehicleToPass(item)">
      <ion-label>

        <h2>{{item.licence_plate}} <ion-icon name="star" *ngIf="item.new"></ion-icon></h2>
        <p>{{item.year}} {{item.color}} {{item.make}} {{item.model}} </p>

      </ion-label>
      <ion-button (click)="presentPopover($event, item)" fill="clear" slot="end">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end"  class="fab-btn-c" style="z-index: 999900;">
  <ion-fab-button (click)="plusHeaderButton()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Vehicle</label>

</ion-fab>
