.outer-intl{
    background: #FFFFFF;
  /*   padding: 8px; */
    height: 38px;

  }

  .outer-intl .inner-intl .ign .tel-code{
    float: left;
    font-size: 0.9em;
    color: gray;
  }

  .outer-intl .inner-intl .ign input{
    width: calc(100% - 150px);
    float: left;
    font-size: 0.9em;
    border: none;
    height: 38px;
    line-height: 38px;
    color: gray;
  }

  .outer-intl .inner-intl .icn{
    width: 70px;
    padding: 8px;
    float: left;
    // background: lightgray
  }

  .outer-intl .inner-intl .tel-code{
    float: left;
    padding: 8px
  }


  .outer-intl .inner-intl .icn img{
    height: 16px;
    margin: 2px;
    float: left;
  }

  .outer-intl .inner-intl ion-icon{
    // color: gray;
    padding-left: 5px;
    float: left;
  }

  ion-list{
    .display-none{
      display: none;
    }
    .display-block{
      display: block;
    }
    ion-item{
      padding-left: 0px !important;
    }
  }