<!--
  Generated template for the ParentalLogsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="plist?.length > 0" [disabled]="doneMarkAllRead" (click)="markAllAsRead()">Mark All As Read</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-spinner class="page-loader" *ngIf="loading" slot="fixed" ></ion-spinner>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-list *ngIf="plist?.length > 0">
      <app-parental-notification-item *ngFor="let itm of plist; let i = index;" [itm]="itm" (markasread)="markasread(itm)"></app-parental-notification-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="loading ? 'loading' : 'No Records Found' " ></app-emptyview>
</ion-content>
