.green-border {
    border-left: 3px solid green;
}

.red-border {
    border-left: 3px solid red;
}

.searchbar-clear-icon:before {
    font-family: "Ionicons";
    content: "\f2bf";
    color: white;
    padding-top: 10px;
}