<!--
  Generated template for the SyncContactStatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  <ion-title>{{title}}</ion-title>

</ion-toolbar>

</ion-header>


<ion-content>

    <ion-list>
      <ion-item *ngFor="let c of phone_contacts; let j = index" >
        <ion-label>
          <h2>{{c.display_name}}</h2>
          <!-- <p>{{c.phone_number}}</p> -->
          <p *ngIf="c.phone_number != null" [innerHtml]="utilityProvider.onkeyupFormatPhoneNumberRuntime(c.phone_number)"></p>
        </ion-label >
        <ion-button slot="end" color="{{ (c.status == 'Faild') ? 'danger' : (c.status == 'Updated') ? 'secondary' : 'primary' }}">{{ c.status }}</ion-button>
      </ion-item>
    </ion-list>

</ion-content>
