<!--
  Generated template for the AnnouncementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Announcements</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="navCtrl.pop()" [disabled]="getNotified">
          Skip All
        </ion-button>
      </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content>


    <ion-slides pager paginationType="progress">

        <ion-slide #slides *ngFor="let item of plist; let i = index">
            <div class="inside-ion-scroll">
                <h2>{{item.announcement.title}}</h2>
                <div [innerHTML]="item.announcement.description"></div>
              </div>

            <ion-footer>
              <ion-toolbar>
                  <ion-item class="ion-text-wrap">
                    <ion-label>I have read the announcement</ion-label>
                    <ion-checkbox color="dark" [(ngModel)]="item.status" (ionChange)=" item.status = 1;" checked="{{ (item.status == 1) ? true : false}}" [disabled]="item.status == 1"></ion-checkbox>
                  </ion-item>
                  <ion-button expand="block"  (click)="annCheck(item)" [disabled]="item.announcement.mustread == '1' && item.status == 0 ">
                      close
                    </ion-button>
              </ion-toolbar>
            </ion-footer>


        </ion-slide>

      </ion-slides>

</ion-content>
