<ion-content no-bounce class="page-splash">

  <ion-img [src]="aftertimeout ? 'assets/imgs/splash.gif' : 'assets/imgs/static-splash.png'" (click)="tap()"></ion-img>
  

  <div class="mdiv">
    <ion-spinner [color]="'light'" name="bubbles"></ion-spinner>
    <div class="text">{{sqlite.msg}}</div>
  </div>

</ion-content>