<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Event</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="closeModal({data: 'A'})">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding="true">
    <ion-list>

        <form [formGroup]="aForm">

        <ion-item>
          <ion-label position="stacked">
            Event Name
          </ion-label>
          <ion-input type="text" formControlName="event_name" id="event_name" placeholder=""></ion-input>
        </ion-item>

        <ion-item *ngIf="!aForm.controls.event_name.valid  && ( aForm.controls.event_name.dirty || submitAttempt )">
            <ion-badge>Invalid Event Name...</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Description
          </ion-label>
          <ion-input type="text" formControlName="event_description" id="event_description" placeholder=""></ion-input>
        </ion-item>

        <ion-item *ngIf="!aForm.controls.event_description.valid  && ( aForm.controls.event_description.dirty || submitAttempt )">
            <ion-badge>Invalid Description...</ion-badge>
        </ion-item>

        <div padding="true">
          <ion-button [disabled]="!aForm.controls.event_name.valid" shape="round" color="primary" block type="submit" (click)="event ? update() : create()">{{event ? 'Update': 'Create'}}</ion-button>
        </div>

      </form>

    </ion-list>

</ion-content>
