<!--
  Generated template for the NewPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeNewPassModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Create a Pass
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{ opacity: Opacity }">
  <form [formGroup]="aForm"> 
    <ion-slides pager="true">
      <ion-slide>
        <ion-header>
          <ion-toolbar>
            <ion-title>
              <div class="wizard">
                <ul>
                  <li class="active">
                    <ion-button shape="round" (click)="goToPre(0)">1</ion-button>
                  </li>
                  <li class="disabled">
                    <ion-button shape="round" >2</ion-button>
                  </li>
                  <li class="disabled">
                    <ion-button shape="round" >3</ion-button>
                  </li>
                </ul>
              </div>
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content [ngClass]="{'no-margin-padding-bottom': keyboardopen}">
          <ion-item-group>
            <ion-item-divider color="light">DETAILS</ion-item-divider>

            <!-- (click)="setDate()" -->
            <ion-button fill="outline" expand="block" color="light" item-start icon-end >
              <ion-label>Pass Date</ion-label>
              <ion-datetime displayFormat="MM-DD-YYYY hh:mm A" [min]="dateNowIsoString" [max]="dateFutureIsoString" formControlName="pass_date" (ionChange)="setFutureDate()"></ion-datetime>
              <!-- <ion-label class="neg-margin-50">{{ date_of_pass_mdy }}</ion-label>  -->
              <ion-icon color="light" name="calendar"></ion-icon>
            </ion-button>
            <ion-item class="form_input">
              <ion-label>Pass Type</ion-label>
              <ion-select formControlName="pass_type" (ionChange)="onSelectChange($event)">
                <ion-select-option value="1">One Time</ion-select-option>
                <ion-select-option value="2" *ngIf="!isGroup">Recurring</ion-select-option>
                <ion-select-option value="3" *ngIf="!isGroup && !isContact">Self</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button fill="outline" expand="block" color="light" item-start icon-end (click)="openEventSelection()">
              <ion-label>Pass Event</ion-label>
              <ion-label text-right class="padding-right-25px">{{ selected_event_name }}</ion-label>
              <ion-icon color="light" name="list"></ion-icon>
            </ion-button>
            <ion-item class="form_input" *ngIf="aForm.controls['event_id'].value == '0'">
              <ion-label>Type Event Name</ion-label>
              <ion-textarea formControlName="event_name" placeholder="Type Here"></ion-textarea>
            </ion-item>
            <ion-item class="form_input">
              <ion-label>Visitor Type</ion-label>
              <ion-select formControlName="visitor_type">
                <ion-select-option value="1">Family / Friend</ion-select-option>
                <ion-select-option value="2">Vendor / Delivery</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="form_input">
              <ion-label *ngIf="aForm.controls.pass_type.value != 2">Pass Validity</ion-label>
              <ion-label *ngIf="aForm.controls.pass_type.value == 2">Recurring For</ion-label>
              <ion-select formControlName="pass_validity" [placeholder]="'Custom'" (ionChange)="setEndTimeAfterValidityChange($event)" [disabled]="this.aForm.controls['pass_date'].invalid">
                <ion-select-option value="3" *ngIf="aForm.controls.pass_type.value != 2">3 Hours</ion-select-option>
                <ion-select-option value="6" *ngIf="aForm.controls.pass_type.value != 2">6 Hours</ion-select-option>
                <ion-select-option value="12" *ngIf="aForm.controls.pass_type.value != 2">12 Hours</ion-select-option>
                <!-- <ion-select-option value="24"
                  [selected]="true || aForm.controls.pass_type.value == 1 || aForm.controls.pass_type.value == 2">24 Hours</ion-select-option> -->

                <ion-select-option value="48">48 Hours</ion-select-option>
                <ion-select-option value="168" *ngIf="aForm.controls.pass_type.value == 2">1 Week</ion-select-option>
                <ion-select-option value="336" *ngIf="aForm.controls.pass_type.value == 2">2 Weeks</ion-select-option>
                <ion-select-option value="720" *ngIf="aForm.controls.pass_type.value == 2">1 Month</ion-select-option>
                <ion-select-option value="876000" *ngIf="aForm.controls.pass_type.value == 2">No Limit</ion-select-option>
                <ion-select-option value="xxx" *ngIf="aForm.controls.pass_type.value == 2">{{custom_date_lbl}}</ion-select-option>

              </ion-select>
            </ion-item>
            <ion-button fill="outline" expand="block" color="light" >
              <ion-label>End Date</ion-label>
              <ion-datetime #enddatetime [disabled]="!(aForm.controls.pass_type.value == 2 && aForm.controls.pass_validity.value == 'xxx')" displayFormat="MM-DD-YYYY hh:mm A" formControlName="pass_end_date"></ion-datetime>
              <!-- <ion-label class="neg-margin-50">{{ end_date_of_pass_mdy }}</ion-label> -->
              <ion-icon color="light" name="calendar"></ion-icon>
            </ion-button>


            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-button style="border-top: 1px solid red !important" fill="outline" shape="round" color="danger"
                    (click)="openLocation()">
                    Change
                  </ion-button>
                </ion-col>
                <ion-col size="8">
                  <ion-textarea formControlName="description" readonly="true" placeholder="Enter A Destination">
                  </ion-textarea>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-group>
        </ion-content>
        <ion-footer padding="true" *ngIf="!keyboardopen">
          <ion-button shape="round" expand="block" class="ion-text-uppercase" color="white" [disabled]="
              !aForm.controls.pass_date.valid ||
              !aForm.controls.pass_validity.valid ||
              !aForm.controls.pass_type.valid ||
              !aForm.controls.description.valid
            " (click)="goToNext(1)">
            <!-- !aForm.controls.event_id.valid -->
            Next
            <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
          </ion-button>
        </ion-footer>
      </ion-slide>

      <ion-slide class="page-my-contact">
        <!-- <contact-search-list [singleSelection]="aForm.controls['pass_type'].value == 2" (next)="setContacts($event)" ></contact-search-list> -->
      </ion-slide>
      <ion-slide>
        <ion-header>
          <ion-toolbar>
            <ion-title>
              <div class="wizard">
                <ul>
                  <li class="active">
                    <ion-button round>1</ion-button>
                  </li>
                  <li class="active">
                    <ion-button round>2</ion-button>
                  </li>
                  <li class="active">
                    <ion-button round>3</ion-button>
                  </li>
                </ul>
              </div>
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content padding>
          <ion-avatar class="complete-pass">
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-avatar>

          <h2>{{ heading1 }}</h2>
          <ion-button round round block text-uppercase color="primary" (click)="addareminder()">
            Add to Calendar
          </ion-button>

        </ion-content>
        <ion-footer padding>
          <ion-button round round block text-uppercase color="white" (click)="finishregister()">
            Finish
          </ion-button>
        </ion-footer>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>

