ion-col {
    position: initial !important;
}

.padding-right-25px {
    padding-right: 25px;
}

.hide-footer {
    display: none !important;
}

.neg-margin-50 {
    margin-left: -50px;
}

.display-none {
    display: none;
}

.top-back-fix {
    margin-left: 35px;

    ion-icon {
        font-size: 20px
    }
}

form {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

ion-slides {
    background: var(--ion-color-primary);
    height: 100%;
}

ion-header {
    // @extend %menu_transparent;
    // @extend %serach_transparent;
    // @extend %background;

    ion-toolbar {
        border-bottom: 1px solid #2b4777;

        .wizard {
            ul {
                padding: 0px;
                margin: 0px;

                li {
                    float: left;
                    width: 33%;
                    height: 42px;
                    list-style: none;
                    position: relative;

                    button {
                        background: #1a4382;
                        padding: 0px;
                        width: 30px;
                        height: 30px;
                        border: 2px solid #0a1f42;
                    }

                    &:after {
                        content: '';
                        border-bottom: 2px solid #1a4381;
                        width: 100%;
                        height: 2px !important;
                        position: absolute;
                        top: 16px;
                        display: inline-block;

                    }
                }

                li.active {
                    button {
                        background: #fff;
                        color: var(--ion-color-primary);
                    }

                    &:after {
                        border-bottom: 2px solid #fff;
                    }
                }

                li:first-child {
                    text-align: left;
                }

                li:last-child {
                    text-align: right;
                }

                li:last-child:after {
                    display: none;
                }
            }
        }
    }
}

ion-content {
    // @extend %list-transparent;
    background-color: #f4f4f4 !important;
    height: 100%;

    h2 {
        color: #fff;
    }

    p {
        color: #fff;
        font-size: 1.8rem;
    }

    .noRecords {
        padding-top: 40%;

        ion-avatar {
            display: table;
            margin: 0 auto;
            width: 100%;
            text-align: center;

            img {
                width: 100% !important;
                height: 100% !important;
                border-radius: 50%;
            }

            ion-icon {
                font-size: 5em;
                color: lightgray;
            }
        }

        h2 {
            font-size: 20px;
            color: lightgray;
            text-align: center;
        }
    }

    ion-item {
        padding: 0px !important;
        background: none !important;

        .item-inner {
            border-bottom: 1px solid #2b4266 !important;
            padding: 4px 16px !important;

            input {
                color: #fff !important;
            }

            input::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
            }

            input::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }

            input:-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
            }

            input:-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }

            // ion-label{
            //   position:absolute;
            //   right:20px;
            //   top: 05px;
            // }
        }
    }

    ion-item-group {
        ion-item-divider {
            text-align: left;
        }

        button {
            margin: 0px !important;
            border-top: 0px !important;
            color: #000 !important;
            text-align: left !important;
            clear: both !important;
            padding: 20px 15px !important;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            ion-icon {
                color: #999 !important;
            }
        }

        ion-item {
            .item-inner {
                border-bottom: 1px solid #dcdcdc !important;

                ion-label {
                    color: #000 !important;
                }

                ion-select {
                    color: #000 !important;
                }
            }

            ion-textarea {
                textarea {
                    color: #000 !important;
                }

            }
        }
    }


    .avatar-general {
        margin: 20px;

        ion-icon {
            background: #162a4b;
            border: 2px solid #31599b;
            color: #fff;
            display: table;
            margin: 0 auto;
            font-size: 58px;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            padding-top: 18px;
            margin-bottom: 10px;
        }

        label {
            color: #fff;
            font-size: 1.2rem;
        }

    }

    ion-avatar.contactinfo {
        font-size: 7rem;
        color: #fff;
        padding: 3rem;
    }

    ion-item {
       
    }
}

// ul.ion-alpha-sidebar{color: #838383 !important; padding: 0 0 60px 0;}
// ul.ion-alpha-sidebar li a{ color: #838383 !important; font-size:13px !important; /*text-transform: lowercase;*/}
// .ion-alpha-sidebar li a.active{color:#0b1f42 !important;}
// .ion-md-options{font-size: 26px !important;}
// .item.item-md .checkbox-md{ margin-right: 15px;}
// .section ion-icon{color:#1f3c6e !important;}
// .col{border-right:1px solid #0e315e !important;}
// .col:last-child{ border-right:none !important;}
// .ion-md-people, .ion-md-create, .ion-md-heart, .ion-md-add{font-size:1.8em;}
// .button-md{ padding:0;}

.list-ios .ion-alpha-sidebar {
    right: -100%;
}

.sorting {
    ion-item {
        .item-inner {
            padding: 0px 10px !important;
        }
    }
}

h2 {
    color: #000 !important;
}

p {
    color: #000 !important;
}

ion-avatar.complete-pass {
    font-size: 98px;
    color: green;
    padding-top: 15%;
}

.item.item-md .checkbox-md {
    margin: 9px 8px 9px 4px;
}

// button{
//   ion-icon{
//     float:right;
//     position: absolute;
//     right: 29px;
//     font-size: 40px;
//   }
// }
.swiper-pagination {
    display: none;
}

.swiper-slide {
    -webkit-box-align: inherit !important;
    -webkit-align-items: initial !important;
    -ms-flex-align: inherit !important;
    align-items: normal !important;
}

// second tab css
.page-my-contact {
    ion-header {
        // @extend %menu_primary;
        // @extend %mycontacts;

        .nopad {
            padding: 0px;

            ion-col {
                padding: 0px;
            }
        }
    }

    ion-content {
        // @extend %search_blue;
        // @extend %topfilter;

        ion-list {
            ion-item {
                padding: 0px !important;
                border: 0px !important;

                ion-checkbox {
                    padding-left: 8px;
                }

                ion-avatar {
                    min-width: 40px !important;
                    min-height: 40px !important;
                    float: left;
                    margin-right: 9px;

                    img {
                        width: 40px !important;
                        height: 40px !important;
                    }
                }

                .item-inner {
                    border: 0px !important;
                }

                ion-label {
                    h2 {
                        color: var(--ion-color-primary);
                    }
                }

                .item-button {
                    font-size: 2rem !important;
                    padding: 0 !important;
                }
            }
        }

        ion-list-header {
            margin-bottom: 0 !important;

            ion-label {
                margin: 0px !important;
            }
        }

        .section {
            background: #f7f7f7;
            border-bottom: 1px solid #eaeaea !important;

            ion-icon {
                color: #cecece;
            }
        }

        .section-active {
            background: #eaeef6;
            border-bottom: 1px solid #eaeaea !important;

            ion-icon {
                color: #1f3c6e;
            }
        }
    }
}

.form_input ion-label {
    // color: white !important;
}

.form_input textarea {
    // color: white;
    text-align: right;
}

// second tab css ends
ion-footer {

    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a1f42), to(#1d4a8f)) !important;
    background-image: linear-gradient(to bottom, #0a1f42 0%, #1d4a8f 100%) !important;
}

.fab-btn-c .floating-label {
    position: absolute;
    left: -105px;
    bottom: 0;
    transform: translateY(-20%);
    background: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px 10px 10px 4px;
    width: 100px;
    text-align: center;
    font-size: 11px;
}