<!--
  Generated template for the NewPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-button (click)="closeNewPassModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Create a Pass
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>

  <ion-slides #slides>
    <ion-slide style="height: 100%;">
      <app-passform  style="width: 100%; height:100%"></app-passform>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-passcontacts style="width: 100%; height:100%"></app-passcontacts>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-passendpage style="width: 100%; height:100%" [heading1]="heading1"></app-passendpage>
    </ion-slide>
  </ion-slides>


  
</ion-content>
