<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contact Information
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="primary">
  <form [formGroup]="aForm">
    
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-icon class="large-icon" name="document"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="street_address" placeholder="Street Address"></ion-input>
        </ion-item>
        <ion-item *ngIf="
              !aForm.controls.street_address.valid &&
              aForm.controls.street_address.dirty
            ">
          <ion-badge>please fill the field ...</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="apartment" placeholder="Apt. #"></ion-input>
        </ion-item>
        <ion-item *ngIf="
              !aForm.controls.apartment.valid &&
              aForm.controls.apartment.dirty
            ">
          <ion-badge>please fill the field ...</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
        </ion-item>
        <ion-item *ngIf="
              !aForm.controls.city.valid && aForm.controls.city.dirty
            ">
          <ion-badge>please fill the field ...</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="tel" formControlName="zip_code" (keyup)="onZipCodeKeyUp($event)"
            placeholder="Zip Code"></ion-input>
        </ion-item>
        <ion-item *ngIf="
              !aForm.controls.zip_code.valid &&
              aForm.controls.zip_code.dirty
            ">
          <ion-badge>only numbers allowed</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" expand="block" class="ion-text-uppercase" color="light"
          (click)="goToNext(2)">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
</ion-content>
