<!--
  Generated template for the ScanQrHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>QR History</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="closeModal({data: 'A'})">
          Done
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- [ngClass]="{'green-border': item?.is_success == 1, 'red-border': item?.is_success == 0 }" -->
    <ion-item *ngFor="let item of items" text-wrap [class.green-border]="item?.is_success == 1" [class.red-border]="item?.is_success == 0">
      <ion-label>
        <h3>{{item.scanDate}}</h3>
        <p>Scan By: {{item.scanByFullName}}</p>
        <p>{{item?.log_text}}<p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
