<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Finish
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-avatar class="complete-pass">
    <ion-icon name="checkmark-circle"></ion-icon>
  </ion-avatar>

  <h2>{{ heading1 }}</h2>
  <ion-button shape="round" expand="block" class="ion-text-uppercase" color="dark" fill="outline" (click)="addareminder()">
    Add to Calendar
  </ion-button>
  <ion-button shape="round" expand="block" class="ion-text-uppercase" color="dark" (click)="finishregister()">
    Finish
  </ion-button>

</ion-content>
