ion-card {
    .qrcode_section {
        background: #e4f5df !important;

        h3 {
            color: #2d8614 !important;
        }

        img {
            margin-top: 10px;
        }
    }
}

.retractpass {
    background: #203e72 !important;
    font-size: 0.9rem;
    padding: 0px 10px;
    width: 100px;
    height: 100%;
    color: #fff;

    ion-icon {
        font-size: 2.4rem;
    }
}

.viewdetails {
    background: #203e72 !important;
    font-size: 1rem;
    padding: 0px 10px;
    width: 100px;
    height: 100%;
    color: #fff;

    ion-icon {
        font-size: 2.4rem;
    }
}

.getdirections {
    background: #ce4343 !important;
    font-size: 1rem;
    padding: 0px 10px;
    width: 100px;
    height: 100%;
    color: #fff;


    ion-icon {
        font-size: 2.4rem;
    }
}

.qrcode_section {
    width: 84px;
    text-align: center;
    padding-top: 5px;
    height: 100%;
    margin: 0;
}

.qrcode_section span {
    width: 100%;
    float: left;
}

.pass-item-button{
    padding: 0 !important;
    margin: 0 !important;
}


