<ion-item-sliding #item (click)="markasread.emit(itm['id']); itm.status = 1">
  <ion-item text-wrap [ngClass]="{'unread-notification' : itm.status == 0}">

    <ion-label>
      <h2>{{ itm.heading }}</h2>
      <small>{{ itm.subheading }}</small>
      <p>{{ itm.text }}</p>
      <p>{{ itm.scanDate }}</p>
    </ion-label>

  </ion-item>

  <ion-item-options side="end">
    <ion-button >
      View
    </ion-button>
  </ion-item-options>
</ion-item-sliding>
