<ion-header>
  <!-- <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="openLogUsers($event)">
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->
</ion-header>
<ion-content>

  <div class="logo">
     <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list class="ion-text-center ion-margin">

      <form [formGroup]="aForm">

      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number" (input)="onTelephoneChange($event, $event.target.value)"></ion-input>
        <ion-icon class="phone-icon" name="call-outline" color="dark" slot="end"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )">
        <ion-badge>invalid phone number</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Passwords</ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
        <ion-icon class="lock-icon" name="lock-closed-outline" color="dark" slot="end"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
          <ion-badge>invalid password</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" expand="full" color="dark" type="submit" (click)="login()">Sign In</ion-button>
        <ion-button (click)="signup()" fill="clear" color="dark" expand="full"> Not a Member? &nbsp;&nbsp;<strong class="createaccount" >Create Account</strong></ion-button>
        <ion-button class="createaccount" fill="clear" color="dark" expand="full" (click)="forgetpassword()">Forgot Password? Click Here</ion-button>
      </div>

    </form>

  </ion-list>


</ion-content>
<ion-footer>
  <!-- <img src="assets/imgs/background.png" /> -->
</ion-footer>
