<!--
  Generated template for the ParentalControlsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="nav.pop()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

    <ion-title>Parental Controls</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveSelection()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-icon class="large-icon" color="success" name="settings"></ion-icon>
        <ion-label>{{ item?.contact?.display_name }}</ion-label>
      </ion-col>
      <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
      <ion-col size="12">
        <ion-list>
          <form [formGroup]="aForm">
            <ion-item color="primary" class="ion-text-wrap" *ngFor="let flags of akeys">
              <ion-label class="ion-text-wrap">
                <p style="text-transform: capitalize;">{{flags['label']}}<p>
              </ion-label>
              <ion-toggle [formControlName]="flags['key']" color="success"></ion-toggle>
            </ion-item>

          </form>
        </ion-list>
      </ion-col>
      <!-- <button ion-button round round block text-uppercase color="white" class="top-back-fix" (click)="dashboardopen()">SAVE </button> -->
    </ion-row>
  </ion-grid>

</ion-content>
