<ion-tabs #passTabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button [tab]="tab1Root">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Received</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab2Root">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Archived</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab3Root" *ngIf="canSendPasses == 1 || allowParentalControl == 1"> 
      <ion-icon name="arrow-redo-circle-outline"></ion-icon>
      <ion-label>Sent</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>