<!--
  Generated template for the SentContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton *ngIf="search_on == false">
    <ion-buttons start>
      <button ion-button class="top-back-fix" (click)="navCtrl.pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{event_name}} ({{this.items.length}})</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="search_on == true">
    <ion-searchbar #searchbar (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="searchTerm"
      [showCancelButton]="true" (search)="setFilteredItems(true)" (ionInput)="setFilteredItems(false)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list [virtualScroll]="items" [approxItemHeight]="'62px'">

    <ion-item *virtualItem="let item" style="height: 62px;">
      <ion-label>
        <h2>{{item.added_user?.fullName}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.added_user?.formattedPhone"></p>
      </ion-label>


      <button ion-button clear item-end (click)="showConfirm(item)" *ngIf="item.is_scanned == 0">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-item>

  </ion-list>

  <ion-fab bottom right class="fab-btn-c" style="z-index: 999900;">
    <button ion-fab (click)="plusHeaderButton()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>